$montserrat: 'Montserrat', sans-serif;

$primary-gray: #EEEEEE;
$yellow-color: #FFEB99;
$error-color: #FF9999;
$input-border-color: rgba(255, 235, 153, .24);

$form-border-color: #B7A147;
$form-border-radius: 20px;
$form-background-color: rgba(221, 221, 221, .1);
